tts-secret/notes-imgtotxt-7b07c59d85c6.json
*.mp3
*.mp4
*.jpg
__pycache__
.vscode
audios
images
splits
venv
0.SM-Reference.docx
*.wav
*.gif
*.png
*.webp
SadTalker/
Wav2Lip/
gfpgan/
pytorch3d/
temp/*
node
package-lock.json
node_modules/.package-lock.json
node_modules
backup/*
youtube_uploader_secrets.js
*secret*
youtube_profile/*
